<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="console" xsi:type="Console" layout="${message}" />
    <target name="udp" xsi:type="NLogViewer" address="udp4://localhost:7071" />
    <target name="tcp" xsi:type="NLogViewer" address="tcp4://localhost:4505" />
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="%programdata%/YandexPlay/logs/logfile.txt"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,udp,tcp,file" />
  </rules>
</nlog>
